@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    outline: none;
}

body {
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Poppind', sans-serif;  
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

img{
    max-width: 100%;
}

.mobile-layout{
    background-color: white;
    box-shadow: 0 0 2px 5px #3333331A;
    width: 450px;
    border-radius: 5px;
    overflow: hidden;
   
}



header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

header input{
    background-color: rgb(241, 239, 239);
    border-radius: 3px;
    border: none;
    padding: 0.5rem 1rem;
    font-family: inherit;
    margin-left: 2rem;
    margin-right: 2rem;

}
header button{
    background-color: transparent;
    border: none;
    color: rgb(221, 216, 216);
    font-size: 1.5rem;
    margin-left: -1rem;
    cursor: pointer;
}
header a{
    background-color: none;
    color: rgb(128, 124, 124);
    font-size: 1.7rem;
}

.fav-container{
    background-color: rgb(250, 231, 237);
    padding: 1rem 0;
    text-align: center;

}
.fav-meals{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.fav-meals li{
    position: relative;
    margin: 10px;
    width: 100px;
}


.fav-meals li .clear{
    background-color: transparent;
    border: none;
    position: absolute;
    color: rgb(236, 138, 138);
    opacity: 0;
    top: -1rem;
    right: -1rem;
    font: 10px;
    
}


.fav-meals li:hover .clear{
    opacity: 1;
    cursor: pointer;
}
.fav-meals li img{
    border: 5px solid #ffffff;
    box-shadow: 0 0 2px 3px #3333331A;
    border-radius: 50%;
    height: 90px;
    width: 110px;
    object-fit: cover;
    cursor: pointer;
}

.fav-meals li span{
    font-size: 1rem ;
}

.meal{
    box-shadow: 0 0 2px 3px #3333331A;
    border-radius: 5px;
    margin:1.5rem 1.5rem;
    
    
}
.meal-header{
    position: relative;
    font-size: 15px;
    font-weight: bold;

}
.meal-header .random{
    position: absolute;
    top:  30px;
    background-color: white;
    font-family: inherit;
    padding: 0.5rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.meal-header img{
    object-fit: cover;
    height: 350px;
    width: 100%;
    cursor: pointer;

}
.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.meal-body h3{
    margin: 0;

}

.meal-body .fav-btn{

    border: none;
    background-color: transparent;
    color: gray;
    font-size: 1.5rem;
    cursor: pointer;
}

.meal-body .fav-btn.active{
    color: rgb(236, 167, 190);
}

.meal-infoContainer{
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0; 
    top: 0;
    bottom: 0;


}

.meal-infoContainer.hidden{
    opacity: 0;
    pointer-events: none;

}

.meal-info{
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    padding: 0 2rem;
    border-radius: 5px;
    position: relative;
    max-height: 100vh;
    overflow: auto;
    
}
.meal-info .close{
    position: absolute;
    border: none;
    color: rgb(235, 114, 114);
    background-color: transparent;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;

}
.meal-infoDisplay h1{
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
}

.meal-infoDisplay img{
    border: 10px solid #ffffff;
    box-shadow: 0 0 2px 3px #3333331A;
    border-radius: 50%;
}

